.has-bg-img{
    background: url('../images/cityscape.jpg')center center;
    background-size: cover;
}

.buttons{
    padding-top: 3px;
}

#logo{
    margin: auto;
}

p{
    padding:5px;
}

#map{
    height: 400px;
    width: 400px;
    background-color: grey;
}

.button{
    background-color: #6FB9F2;
    font: white;
}