.has-bg-img{
    background: url('../images/cityscape.jpg')center center;
    background-size: cover;
}

.buttons{
    padding-top: 3px;
}

.intBtn{
    margin: 3px;
}

#logo{
    margin: auto;
}

p{
    padding:5px;
}

#map{
    height: 400px;
    width: 400px;
    background-color: grey;
}

#logo{
    margin: auto;
}

p{
    padding:5px;
}

#map{
    height: 400px;
    width: 400px;
    background-color: grey;
}

.splash-image {
    background-image: url("../images/lights.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    background-blend-mode: multiply;
    opacity: 0.20;
}

.splash-subtitle {
    z-index: 500;
    position: relative;
    bottom: 550px; 

}
<<<<<<< HEAD
.button .is-started {
=======
.button.is-danger {
>>>>>>> dd2385cb4141849f91a90fe79ccf2b0d54dd6644
    background-color: white;
    color: black;
}

.hero.is-info .subtitle {
    font-weight: bold;
}

.goodTime {
}

.badTime {
    opacity: .5;
}

.hero.is-info {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/confetti.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}